.modalContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  opacity: 1;
  margin: 0.5rem;
  width: 90%;
  top: 10%;
  background-color: white;
  z-index: 1;
  padding: 0.5rem;
}

.inputitems {
  margin: 0.5rem 0;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.buttonContainer {
  display: flex;
  flex-direction: row-reverse;
}

.btnformodal {
  background-color: #19bced;
  color: white;
  padding: 10px 20px;
  margin: 8px 8px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #72ceeb;
}

.btncancel {
  cursor: pointer;
  border: 1px solid #19bced;
  background-color: transparent;
  padding: 10px 20px;
  margin: 8px 8px;
  border-radius: 20px;
  color: #19bced;
}

@media screen and (min-width: 728px) {
  .modalContainer {
    position: fixed;
    width: 600px;
    top: 20%;
    left: 25%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    opacity: 1;
    background-color: white;
    padding: 1rem;
  }
}
