.container_team {
  color: rgb(39, 39, 39);
}

.showModal {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
}

.title button {
  background-color: #19bced;
  height: 2rem;
  margin: 0 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
